div {
  display: block;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
  border: solid 3px #ccc;
  background-color: #fff;
}

.img-sweet1 {
  background-image: url(../images/sweets/sweet1.png);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.img-sweet2 {
  background-image: url(../images/sweets/sweet2.png);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.img-sweet3 {
  background-image: url(../images/sweets/sweet3.png);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.img-sweet4 {
  background-image: url(../images/sweets/sweet4.png);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.img-sweet5 {
  background-image: url(../images/sweets/sweet5.png);
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
}

.d-flex {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
}